/* #root {
  background-color: red;
} */
.header {
  display: flex;
  justify-content: space-between;
  background-color: #f76969;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 10px 15px 19px -10px #888;
}
.nav-items {
  /* padding-left: 375px; */
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
}

.nav-items > ul > li {
  padding: 10px;
}

.logo {
  width: 60px;
  height: 70px;
}

.card {
  width: 235px;
  padding: 10px;
  margin: 10px;
  border: 1px solid grey;
}

.card > img {
  /* it will take full width of card */
  width: 100%;
}

/* .card > img:hover {
  box-shadow: rgb(184, 37, 37);
} */

/* The flex-wrap CSS property sets whether flex items are forced onto one line or can wrap onto multiple lines */
.restaurent-list {
  display: flex;
  flex-wrap: wrap;
}

.header-content {
  display: flex;
}

.user-Icon {
  padding: 26px;
  margin-left: 420px;
}

.search-container {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 5px;
}

.search-input {
  box-sizing: border-box;
  width: 30%;
  border: 2px solid #f76969;
  border-radius: 5px 0px 0px 5px;
  padding: 12px;
  border-right: none;
  outline: none;
}

.search-button {
  width: 6%;
  border: 2px solid #f76969;
  background: #f76969;
  text-align: center;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  padding: 5px;
}

.search-image {
  width: 27px;
  height: 25px;
}
.shimmer-card {
  width: 270px;
  height: 250px;
  padding: 10px;
  margin: 10px;
  border: none;
  background: #e8e2e2;
}

.menu {
  display: flex;
}

.menu ul {
  list-style-type: none;
}
